# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\ubb anul II\SEM 2\MEDII DE PROIECTARE SI PROGRAMARE\LABORATOR\Proiect\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
